:root{
    overflow: hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #000d36;
}

#canvas {
    background: #fff;
    margin-left: 50%;
    margin-top: 1%;
    transform:translateX(-50%);
}